%div.get-rss
  = link_to 'Subscribe to rss', params.merge(:format => :xml)
%div.last-post-block.raw
  - @posts.each do |post|
    %div.last-post.raw
      - if post.illustration?
        %div.image-box
          = image_tag post.illustration.url(:thumbnail)
      %article.span12
        %h3
          = link_to post.title, post, :class => "internal-link"
        = BlueCloth.new(post.body).to_html.html_safe
      %div.span12.admin.admin-post
        %span
          = link_to 'Show', post
        %span
          = link_to 'Edit', edit_post_path(post)
        %span
          = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
